/*
body {
    background-color: red;
}
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    @apply text-green-500
}
button,
textarea,
input,
select,
a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.items { position: relative; }
.items li {
    position: absolute; top: auto; left: auto;
    transition: all 0.2s ease-out;
}

@layer components{
    .sideBar{
        @apply fixed top-0 left-0 h-screen w-48 m-0 flex flex-col bg-gray-900 text-white shadow-lg text-4xl font-bold text-center font-sans
        transition-all duration-200 ease-linear
    }
    .emptyItem{
        @apply relative flex items-center
        justify-center h-48 w-48 mt-2 mb-2 mx-auto
    }
    .sideBarIcon{
        @apply relative flex items-center
        justify-center h-48 w-48 mt-2 mb-2 mx-auto
        bg-gray-800 text-green-500 rounded-xl
        hover:bg-green-800 hover:text-white hover:rounded-3xl
        transition-all duration-200 ease-linear
    }
    .body{
        @apply bg-gray-800
    }
    .sideBarIconOff{
        @apply relative flex items-center
        justify-center h-48 w-48 mt-2 mb-2 mx-auto
        bg-gray-800 text-green-500 rounded-xl
        transition-all duration-200 ease-linear
    }
    .sideBarIconOn{
        @apply relative flex items-center
        justify-center h-48 w-48 mt-2 mb-2 mx-auto
        bg-green-800 text-white rounded-3xl
        transition-all duration-200 ease-linear
    }
    .button_style{
        @apply relative
    }
    .screen{
        @apply w-max max-h-full
    }
    .formDiv{
        @apply relative flex items-center
        justify-center h-[32rem] w-72 mt-2 mb-2 mx-auto align-middle
        rounded-3xl shadow-lg
        transition-all duration-200 ease-linear
    }
}
