/*
body {
    background-color: red;
}
*/

@tailwind base;
@tailwind components;
@tailwind screens;
@tailwind utilities;

.App {
    @apply text-green-500
}


@layer components{
    .sideBar{
        @apply fixed top-0 left-0 h-screen w-48 m-0 flex flex-col bg-gray-900 text-white shadow-lg text-4xl font-bold text-center font-sans
        transition-all duration-200 ease-linear
    }
    .emptyItem{
        @apply relative flex items-center
        justify-center h-48 w-48 mt-2 mb-2 mx-auto
    }
    .sideBarIcon{
        @apply relative flex items-center
        justify-center h-48 w-48 mt-2 mb-2 mx-auto
        bg-gray-800 text-green-500 rounded-xl
        hover:bg-green-800 hover:text-white hover:rounded-3xl
        transition-all duration-200 ease-linear
    }
    .body{
        @apply fixed top-0 left-0 h-screen w-screen
    }
    .sideBarIconOff{
        @apply relative flex items-center
        justify-center h-48 w-48 mt-2 mb-2 mx-auto
        bg-gray-800 text-green-500 rounded-xl
        transition-all duration-200 ease-linear
    }
    .sideBarIconOn{
        @apply relative flex items-center
        justify-center h-48 w-48 mt-2 mb-2 mx-auto
        bg-green-800 text-white rounded-3xl
        transition-all duration-200 ease-linear
    }
    .screenDiv{
        @apply flex items-center justify-center
        fixed top-0 left-0 h-screen w-screen
        bg-gray-400
    }
    .formDiv{
        @apply w-96 h-88
        shadow-xl bg-white rounded-2xl
        flex flex-col items-center justify-center
    }
    .contentDiv{
        @apply flex flex-col items-center justify-center
        px-16 py-10 space-y-4
    }
    .buttonStyleGreen{
        @apply bg-green-700
        relative flex items-center justify-center
        h-12 w-full
        rounded-xl
        text-white font-bold
        hover:bg-green-500
        transition-colors
    }
    .buttonStyleBlue{
        @apply bg-blue-800
        relative flex items-center justify-center
        h-12 w-full
        rounded-xl
        text-white font-bold
        hover:bg-blue-500
        transition-colors
    }
    .textBox{
        @apply shadow-xl appearance-none border rounded
        w-full py-2 px-3
        text-gray-700 leading-tight
        focus:outline-none focus:shadow-inner
        border-2 border-blue-400
    }

}
